# typescript
*.d.ts
*.js
dist/

# node
node_modules

# cdk8s
manifests

# git secrets
.gitsecret/keys/random_seed
*.env*
!*.secret

# misc
create-secrets.sh
*.iam.json
bin
pre-up.sh
post-up.sh
pre-apply.sh
post-apply.sh
*.diff
